@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');

*,
*:before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #252c3a;
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 64em) {
    .container {
        padding-left: 200px;
        padding-right: 200px;
        max-width: 1470px;
    }
}

.flex {
    display: flex;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-c {
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}

.main-navigation {
    display: flex;
    justify-content: center;
    z-index: 9;
    position: fixed;

}

.header nav .navigations {
    height: 65px;
}

.toggle-menu {
    margin-left:15px;
    cursor: pointer;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.open {
    visibility: visible;
    opacity: 1;
}

@media (min-width: 64em) {
    .header nav {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .header nav .logo{
        position: fixed;
        left: 200px;
        top: 15px;
    }

    .header .main-navigation a {
        margin-right: 30px;
        position: relative;
    }

    .header .main-navigation a:hover {
        opacity: .8;
    }

    .header .main-navigation a::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -23px;
        width: 100%;
        height: 4px;
        background-color: #e74c3c;
        transition: 0.2s linear;
        opacity: 0;
    }

    .header .main-navigation a:hover::after{
        opacity: 1;
    }

    .navigations .main-navigation {
        margin-right: -300px;
    }
}

.mobile-navigation .close-menu {
    display: block;
    cursor: pointer;
    margin: 10px 0 20px 20px;
}


.mobile-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    transform: translateX(-100%);
    background-color: rgb(255, 255, 255);
    z-index: 9;
    transition: 0.2s ease-in-out;    
}

.mobile-navigation a {
    display: block;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 700;
    font-size: 20px;
    transition: .2s linear;
}

.mobile-navigation.open {
    transform: translateX(0);
}

.mobile-navigation a:hover {
    padding-left: 20px;
    color: #252c3a;
    opacity: .6;
    transition: .2s linear;

}

@media (min-width: 40em) {
    .mobile-navigation {
        width: 450px;
    }
}


@media (max-width: 64em) {
    .header nav .logo{
        position: absolute;
        right: 0;
        top: 15px;
        margin-right: 30px;
    }
}



@media (min-width: 64em) {
    .slider {
        display: flex;
        justify-content: center;
        height: 90vh;
        background-color: black;
    }

    .slider .img-content {
        width: 880px;
        margin-top: 40px;
    }
}

@media (max-width: 63.9375em) {
    .slider {
        display: block;
        width: 100%;
    }

    .slider .img-content {
        width: 100%;

    }
}


@media (min-width: 64em) {
    .hide-for-desktop {
        display: none;
    }
}

@media (max-width: 63.9375em) {
    .hide-for-mobile {
        display: none;
    }
}



@media (min-width: 64em) {
    

    .customer-counter .column {
        width: 360px;
        height: 220px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .customer-counter {
        transform: translateY(-50%);
    }

    .customer-counter .column img {
        width: 70px;
        height: 70px;
        margin-left: -30px;
        margin-right: 25px;
    }
}

.about-company .customer-counter {
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 20px rgba(37, 44, 58, .3);
}

.customer-counter .column2 {
    box-shadow: 3px 3px 20px rgba(37, 44, 58, .3);
    z-index: 1;
    
}

.column p {
    font-size: 15px;
    font-weight: 550;
    margin-bottom: 10px;
}

.column a {
    font-size: 13px;
    color:#e74c3c;
    border: 1px solid transparent;
    transition: .2s linear;
    padding: 3px;
}

.column a:hover {
    border: 1px solid #e74c3c;
    border-radius: 5px;
}

@media (max-width: 63.9375em) {
    .customer-counter .column {
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customer-counter .column img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    .program-coaching .coaching-wrapper {
        display: none !important;
    }

}

.program-coaching {
    height: 80vh;
}

.program-coaching .coaching-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.program-coaching .coaching-wrapper h2 {
    margin-left: -10px;
    margin-right: 60px;
    color: #e74c3c;
}

.program-coaching .coaching-wrapper img {
    margin-right: 70px;
}

.program-coaching .coaching-wrapper p {
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.3px;
}

video {
    width: 30rem;
}